@import 'bootstrap/scss/bootstrap.scss';

body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	background: linear-gradient(135deg, #6080E7, #91D4ED);

	> .main-bar {
		flex: 1 1 100%;
		display: flex;
		flex-flow: row;
		position: relative;
		overflow-x: auto;

		> .main-panel {
			flex: 1 1 100%;
			display: flex;
			flex-direction: row;
			position: relative;

			> * {
				flex: 1;
			}
		}
	}

	> .footer {
		background-color: yellow;
	}

	a {
		color: white;
		font-weight: bold;
	}

	input,
	.btn-light,
	.btn-default {
		color: #4C78D0;
		&:hover { color: #2c54a5; }
	}
}

/* === Panels === */

.container {
	/* max-width: 100%; */
	/* @media (max-width: 767px) {
		width: 100%;
		max-width: 750px;
	} */

	/* flex: none !important; */

	&.flex {
		max-width: 100%;
		/* flex: inherit !important;  */
	}

 	> .panel {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
		box-shadow: 0 1px 1px rgba(0,0,0,.05);

		.panel-heading { /* bootstrap3 */
			padding: 10px 15px;
			border-bottom: 1px solid transparent;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		&.panel-default {
			background-color: rgba(0,0,0,0.01);
			border-color: #ddd; /* bootstrap3 */
			margin-top: 30px;
			width: 100%;

			.panel-heading {
				color: inherit;
				font-weight: bold;
				background: linear-gradient(135deg, rgba(0,0,0,0.05), rgba(0,0,0,0));
				//TODO: no selecting

				border-bottom: none;  //HACK: hide border when collapsed

				.fa {
					margin-left: 20px;
				}
			}
		}
		.panel-body {
			border-top: 1px solid #ddd;  //HACK:
			padding: 15px; /* bootstrap3 */

			form:last-child {
				margin-bottom: 0;
			}
			table {
				th,td {
					padding: 5px;
				}
			}
			ol, ul {
				padding-inline-start: inherit;
			}
		}
		.panel-footer {
			background: transparent;
			/* bootstrap3 */
			padding: 10px 15px;
			border-top: 1px solid #ddd;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
}

/* === Buttons === */

//TODO: btn-clear
.btn.btn-clear {
	background-color: transparent;
}

/* bootstrap3 */
.btn-default {
	@extend .btn-light;
}
.pull-right{
	@extend .float-right;
}

/* === Utilities === */

.dropdown-menu > li {
	padding: 0 10px;
}

.disabled {
	color: grey;
}
