#MainPanel {
	// padding-top: 0;

	.btn {
		width: 75%;
		height: 75px;
		display: block;
		max-width: 300px;
		margin: 45px auto 0 auto;
	}

	.open-door.opened {
		animation: rainbow 1s normal linear;
		background: linear-gradient(135deg,
			#e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6,
			#91D4ED, #6080E7, #91D4ED,
			#e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6
		);
		background-size: 400% 100%;
	}
}

@keyframes rainbow {
    0%{background-position:0% 0%}
    100%{background-position:100% 0%}
}